.navbar-nav {
    font-size: 1.2rem;
    justify-content: space-around;
    width: 60%;
  }
  
  .navbar.navbar-light {
    border-bottom: 3px solid white;
  }
  
  .brand-container {
    display: flex;
    justify-content: center;
    background-color: gray;
    padding: 10px 0;
    margin-top: 35px;
  }
  
  .brand-name {
    font-size: 5rem;
    font-weight: bold;
    color: white;
    margin-bottom: 40px;
  }
  